<%= div_for shout do %>
<% if current_user.email != nil %>
<%= gravatar shout.user %>
<%end%>
<%= link_to shout.user.name , shout.user%>
shouted
<div>
<%= render shout.content %>
</div>
<%= link_to time_ago_in_words(shout.created_at ), shout %> ago.
<% end %>