<div class="panel callout radius">
  
   <%= link_to user.name, user %> tips to date: [ <%= user.tips.count %> ]
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
                                  <% end %>
</div>