<p id="notice"><%= notice %></p>

<div class="panel callout radius">
	<p>
		<strong>Name:</strong>
		<ul>

			
			<h2> <%= @user.name %></h2></ul>
				<% if current_user.email != nil %>
				<%= gravatar @user %>		
				<% end %>
			<h5>Tips to date (<%= @user.tips.count %>)</h5>
			<% if user_signed_in? %>
			<% if current_user.can_follow?(@user) %>
			<%= follow_button @user %>
			<% end %>
			<% if current_user == @user %>
			<%= link_to 'Edit', edit_user_path(@user) %>
			<% if @user.tips.any? %>
			<% end %>
			<% end %>
		</div>

		<div >


			<%= render @tips  %>
<%= render @shouts %>
			<% end %>
		</div>

		<!--List Recently Created Events-->


</div>
