

<div class="panel callout radius">
<h1>Tags Cloud</h1>
</div>
<div class="panel callout radius">




<div id="tag_cloud">
  <% tag_cloud Tip.tag_counts, %w[css1 css2 css3 css4] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
</div>