<br>

<div class="row">
<%= form_for @dashboard.new_text_shout do |form| %>
  <div class="large-4 columns" align="right"><%= form.submit 'Shout' %>.</div>
  <div class="large-8 columns"><%= form.text_field :body, placeholder: 'Shout something' %></div>
  <% end %>
</div>
<div class="row">
<p><%= form_for @dashboard.new_photo_shout do |form| %>
  <div class="large-4 columns" align="right"> <%= form.submit 'Add an Image' %>.</div>
  <div class="large-8 columns"><%= form.file_field :image %> </div>
  <% end %>
</div>



<%= render @dashboard.timeline %>