<%= form_for(@tip) do |f| %>
  <% if @tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
      <% @tip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
 <div class="form-group">
<%= f.label :Is_it_difficult_? %><br>
<%=f.select :difficulty_level, Tip::DIFFICULTY,{} ,
:class => "form-control"%>
</div>
  <div class="form-group">
    <%= f.label :condition_name_id %><br>
    <%= f.select(:condition_name_id,
   options_from_collection_for_select(ConditionName.all, :id, :name),
  {:prompt =>'Please Choose'}, :class => "form-control") %>
  </div>
   <div class="form-group">
    <%= f.label :symptom_name_id %><br>
    <%= f.select( :symptom_name_id,
  options_from_collection_for_select(SymptomName.all, :id, :name),
  {:prompt => 'Please Choose'}, :class => "form-control") %>
  </div>
 
  <div class="field">
    <%= f.label :what_is_needed_? %><br>
    <%= f.text_area :what_needed %>
  </div>
  <div class="field">
    <%= f.label :my_tip %>  [ tip description ] <br>
    <%= f.text_area :my_tip %>
  </div>
  <div class="field">
<%= f.label :tags_comma_separated %>
<%= f.text_field :tag_list %>

</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
