<h1>Coping Tips List</h1>

<table>

  <thead >

    <div class="panel callout radius"> <h5>Choose a <%= link_to "Tag",   tags_path %> or
      <%= link_to "Condition",   conditions_path %>  or  <%= link_to "Symptom",   symptoms_path %>  to look for Tips</h5>  </div>
      


      <tr>
        <th>TIP TITLE  </th>
        
        <th>Condition name </th>
        <th>Category</th>
        <th>Tag Name</th>
        <th ></th>
      </tr>
    </thead>

    <tbody>
      <% @tips.each do |tip| %>

      <tr>
        <td ><strong><h4><%= tip.title %></h4></strong> <br>

By: <%= tip.user.name   %> <br>
 <div><span class="label"><%= pluralize tip.reputation_for(:votes).to_i, "vote" %> </span>
<% if user_signed_in? %>
  <span class="success label"><%= link_to "up", vote_tip_path(tip, type: "up"), method: "post" %></span>




  <span class="warning label"><%= link_to "down", vote_tip_path(tip, type: "down"), method: "post" %></span>
  <% end %></div>

        </td>
        
        <td><%= tip.condition_name.name %></td>
        <td><%= tip.symptom_name.name %></td>

        <td><% for tag in tip.tags %>
         <%= link_to tag.name, tagged_url(:tag => tag.name) %>
         <% end %></td>
         
         
         
         <td><%= link_to 'Show', tip, class: 'button tiny radius success' %>
          <% if user_signed_in? %>
          <% if tip.user == current_user %>
          <%= link_to 'Edit', edit_tip_path(tip), class: 'button tiny radius success' %>
          <%= link_to 'Destroy', tip, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius alert' %></td>
          



          
          <% end %>

          <% end %>
          
        </tr>
        <% end %>
        
      </tbody>
      <div class="fb-like" data-href="https://www.facebook.com/pages/FibroTrust/482527011777039" data-layout="button_count" data-action="recommend" data-show-faces="false" data-share="true"></div>
    </table>


    <%= link_to 'Share your Tip', new_tip_path, class: 'button  radius success' %>

    <br>


