<p id="notice"><%= notice %></p>

<p>
  
  <div class="panel callout radius"><strong>Tip Title:</strong><h2> <%= @tip.title %></h2></div>
</p>

<div class="panel callout radius">


  <p>
    <strong>Condition name:</strong>
    <%= @tip.condition_name.name %>
  </p>

  <p>
    <strong>Symptom name:</strong>
    <%= @tip.symptom_name.name %>
  </p>

 
</div>
<div class="panel callout radius">
  <p>
    <strong>What needed:</strong>
    <%= @tip.what_needed %>
  </p>
</div>
<div class="panel callout radius">
  <p>
    <strong>My tip:</strong>
    <%= @tip.my_tip %>

  </p>
</div>

  
  <div class="panel callout radius">
    <strong>Tags:</strong>
    <% @tip.tags.any? %>
    <% @tip.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name) %>
    <% end %>

  </div>


      <% if current_user == @user %>
  
  
<%= link_to 'Edit', edit_tip_path(@tip) %> |
    <%= link_to 'Back', tips_path %>
 <% end %>
<div class="panel callout radius">
  <div class='spread'>  <div class='twshare left'>   <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="fibrotr">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>  
  </div>  
  <div class="fb-like" data-href="https://www.facebook.com/pages/FibroTrust/482527011777039" data-layout="button_count" data-action="recommend" data-show-faces="false" data-share="true"></div>