<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%= link_to 'Chronically Coping', root_path %></li>
   
  </ul>
<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  <div class="top-bar-section">
   <ul class="nav navbar-nav">

          
          <!-- <li class="active"><%= link_to 'Tips List', tips_path %></li> -->
        
        <% if user_signed_in? %>
       
       <li class="active"><%= link_to "Users", users_path %></li>
      
        <li><%= link_to "Profile", current_user %></li>
            <% end %>
            <li class="active"><%= link_to 'Share your Tip', new_tip_path, class: 'button  radius success' %></li>
        
 
        </ul>

    <ul class="right">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
<!-- </nav> -->