<% if user_signed_in? %>
<li>
  <%= form_for(:search, url: search_path, method: :get) do |form| %>
<%= form.text_field :term %></li>
<li><%= form.submit "Search" %>
<% end %></li>

          <li><%= link_to current_user.name, current_user %></li>
          <li><%= link_to "Dasboard", dashboard_path %></li>
          
          <li><%= link_to "Logout", destroy_user_session_path %></li>
          <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          
        
<% end %>

